@import "../colors";

.actionWrapper {
    label {
        font-size: 14px;
    }
}

.btnDeleteAll,
.btnGallery {
    span {
        overflow-x: hidden;
        width: 0;
        height: 20px;
        display: inline-block;
    }

    svg {
        margin-top: -5px;
    }

    &:hover {
        background: $info !important;
        border-color: $info !important;

        svg {
            color: white !important;
        }
    }

    &.active {
        background: $info;
        color: $white !important;
        border-color: $info !important;

        &:hover {
            color: #09adce;
            border-color: #09adce;
        }
    }
}
