@import "../colors";

.logoutBtn {
    text-transform: uppercase;
    color: white;
    /* svg {
        color: $gray-500;
    } */
    &:hover {
        color: white !important;

        /* svg {
            color: white;
        } */
    }
}
