@import "../colors";
.imagewrapper {
    --box-width: 170px;
    --light-green: #f0ffea;
    height: calc(var(--box-width) + 60px);
    width: var(--box-width);
    background-size: 30px 30px;
    background-position: center 70px;
    background-repeat: no-repeat;

    &:hover:not(.selectedimage) {
        border-color: var(--light-green);
    }

    img {
        height: var(--box-width);
        width: 100%; //var(--box-width);
        object-fit: cover;
        border: 1px solid #f7f7f7;
    }

    &.selectedimage {
        background-color: var(--light-green) !important;
        padding: 5px;

        img {
            height: calc(var(--box-width) - 7px);
        }
    }

    // .imageinfo {
    // }
}

.coverloading {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 55;
    background: rgba(255, 255, 255, 0.8);
}

.singleimage_wrapper {
    img {
        height: 300px;
        width: 300px;
        object-fit: cover;
    }
}

.skulevelul {
    list-style: none;
}

// .skulevelthumbli {
//     width: 250px;
//     min-height: 102px;
// }
.skulevelthumb {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: inherit;
    min-height: 102px;

    .skulevelthumb_imagewrapper {
        width: 60px;
        height: 80px;
        max-height: 80px;
        position: relative;
        text-align: center;
        margin-right: 20px;
        img {
            max-height: inherit;
            cursor: pointer;
        }
    }
    .skulevelthumb_infowrapper {
        font-size: 70%;
    }
}

.skulevelthumb_btn_wrapper {
    button,
    label {
        font-size: 12px;
        border: none;
        &:active,
        &:focus {
            outline: navajowhite;
        }

        &:hover {
            background-color: $gray-100;
        }
    }
}

.dragging {
    background: lightblue;
    user-select: none;
}
