@import "../colors";

.skuTransferWrapper {
    min-height: 300px;
}

.iconArrow,
.iconCheckMark {
    display: none;
}

.vendorRadioChecked {
    color: $gray-600;
    input[type="radio"] {
        display: none;
    }
    &:hover:not(:has(input[type="radio"]:checked)) {
        border-color: $info !important;
    }

    &.disabled {
        background: $gray-100;
        color: $gray-600;
    }
    .iconArrow {
        display: inline-block;
        color: $gray-400;
    }
}
.vendorRadioChecked:has(input[type="radio"]:checked) {
    background: $info !important;
    border-color: $info !important;
    color: white;
    .iconCheckMark {
        display: inline-block;
    }
    .iconArrow {
        display: none;
    }
}

.checkOption {
    padding: 2px 8px;
    min-width: 80px;
    text-align: center;
    cursor: pointer !important;

    input[type="checkbox"] {
        display: none;
    }

    &:has(input[type="checkbox"]:disabled) {
        // background-color: $gray-200 !important;
        // color: $gray-500 !important;
        opacity: 0.7;
    }

    &:not(.checkOptionReadoly):has(
            input[type="checkbox"]:checked:not(:disabled)
        ) {
        background-color: $info !important;
        border-color: $info !important;
        color: white;
    }

    &:not(.checkOptionReadoly):has(
            input[type="checkbox"]:checked:is(:disabled)
        ) {
        background-color: #c0f5ff !important;
        border-color: #c0f5ff !important;
        color: white !important;
    }

    &.checkOptionReadoly {
        background: $secondary !important;
        color: white;
        border-color: $secondary !important;
    }
}

.stickyTopMargin {
    scroll-margin-top: 50px;
    top: 50px !important;
    z-index: 1 !important;
}

.sampleImageWrapper {
    width: 50px;
    text-align: center;
    .sampleImage {
        height: 50px;
        max-width: 50px;
        object-fit: contain;
    }
}

// .iconArrow
// .iconCheckMark

.shapeContainer {
    width: 100%;
    max-width: 120px;
    cursor: pointer;

    .shapeContainerTitle {
        background: $gray-100;
        font-size: 90%;
        padding: 3px;
        margin: 0;
        display: block;
    }
}

.optionRowWrapper {
    .optionRowWrapperInner:not(:last-child) {
        // border-bottom: 1px solid $gray-500;
    }
}
