html,
body {
    background: #f9f9f9;
}
.uppercase {
    text-transform: uppercase !important;
}
*:focus,
*:focus-within {
    box-shadow: none !important;
}

.lds-ripple {
    --lds-ripple-width: 80px;

    &.lds-ripple-md {
        --lds-ripple-width: 70px;
    }

    &.lds-ripple-sm {
        --lds-ripple-width: 50px;
    }
    &.lds-ripple-xs {
        --lds-ripple-width: 40px;
    }

    &.lds-ripple-xxs {
        --lds-ripple-width: 30px;
    }

    display: inline-block;
    position: relative;
    width: var(--lds-ripple-width);
    height: var(--lds-ripple-width);

    div {
        position: absolute;
        border: 2px solid slategrey;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    div:nth-child(2) {
        animation-delay: -0.5s;
    }
}

@keyframes lds-ripple {
    0% {
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: var(--lds-ripple-width);
        height: var(--lds-ripple-width);
        opacity: 0;
    }
}

.btn-outline-danger,
.btn-danger,
.btn-outline-info,
.btn-info {
    &:hover {
        color: white;
    }
}
.noScrollBar {
    scrollbar-width: none !important; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */

    &::-webkit-scrollbar {
        width: 0 !important;
        display: none;
    }
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-zoom-in {
    cursor: zoom-in !important;
}

.mainListImage,
.mainListImageWrapper {
    scroll-margin-top: 40px;

    transition: box-shadow 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.highlistItem {
    box-shadow: 0px 0px 10px #9100ff;
    outline: 1px solid #9100ff;
    // box-shadow: 0px 0px 10px #007ea7;
    // border-color: #007ea7 !important;
    z-index: 999;
    // animation: scaleUp 1s ease-in-out forwards ;
    animation-name: scaleUp;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

    // outline: 3px solid red;
    // &:after {
    //     content: "";
    //     width: calc(100% + 20px);
    //     height: calc(100% + 20px);
    //     position: absolute;
    //     left: -10px;
    //     bottom: -10px;
    //     border: 2px solid yellow;
    //     border-radius: 5px;
    //     transition: all 0.3s ease-in-out;
    // }
}

@keyframes scaleUp {
    0% {
        scale: 1.1;
        background-color: #ffffbb;
    }
    100% {
        scale: 1;
    }
}

#loadingwrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1054;
    background: rgba(255, 255, 255, 0.6);
    .loadingcontainer {
        width: 100vw;
        height: 100vh;
    }
}

.modal-dialog {
    position: relative !important;
    #loadingwrapper {
        width: 100%;
        height: 100%;
        position: absolute;

        .loadingcontainer {
            width: 100%;
            height: 100%;
        }
    }
}

.tooltip {
    z-index: 1040 !important;
}

.form-label-sm {
    font-size: 80%;
}

.divider {
    align-items: center;
    display: flex;
    user-select: none;

    &:after,
    &:before {
        content: "";
        border-top: 0.0625rem solid #e7eaf3;
        flex: 1 1 0%;
        margin-top: 0.0625rem;
    }

    &:after {
        margin-left: 1.5rem;
    }

    &:before {
        margin-right: 1.5rem;
    }
}

.dividerVertical {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 150px;
    user-select: none;
    span {
        transform: rotate(90deg);
        padding: 0 10px;
        background: white;
    }

    &:after,
    &:before {
        content: "";
        width: 0.0625rem;
        height: 100%;
        background: #e7eaf3;
        flex: 1 1 0%;
        // margin-left: 50%;
    }

    &:after {
        left: 50%;
    }

    &:before {
        left: 50%;
    }
}

.modal-inner-tooltip {
    --size: 120px;
    z-index: 99999 !important;
    opacity: 1 !important;
    img {
        height: var(--size);
    }

    .tooltip-inner {
        padding: 0;
        border-radius: 0;
        width: var(--size);
        height: var(--size);
        background: none !important;
    }
}

.paging-inp {
    border: 1px solid white !important;
    box-shadow: inset 5;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: textfield !important;
}

.paging-inp:hover {
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: textfield !important;
}

.paging-inp:focus,
.paging-inp:active {
    border: 1px solid silver !important;
    background: #f9f9f9;
}
.paging-btn {
    width: 40px;
    height: 40px;
}
.paging-btn svg {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
}

// .modal-xl {
//     width: 90% !important;
// }
